@import url('https://fonts.googleapis.com/css?family=Montserrat');

  
.fondo {
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
 /* ------------------------------[  Control | cabezera de la pagina ]----------------------------------------- */

/* Estilos del encabezado */
header {
  background-color: rgb(63, 58, 53);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  text-align: center; /* Centra horizontalmente el contenido */
}

/* Estilos del logo */
.logo {
  width: 150px; /* Ancho fijo para el contenedor del logotipo */
  height: 50px; /* Altura fija para el contenedor del logotipo */
  overflow: hidden; /* Recorta cualquier contenido que desborde el contenedor */
  display: flex;
  align-items: center; /* Centra verticalmente el logotipo */
}

.logo img {
  max-width: 32%; /* El logotipo se ajustará al ancho del contenedor */
  height: auto;
}

.uleam-text {
  font-size: 24px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#formulario {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}


 /* ----------------------------------------------------------------------- */


  /* ----------------------[ control de ingresar datos y sus colores]------------------------------- */

  .admin-boton {
    display: inline-block;
    padding: 5px 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Color de fondo verde (puedes cambiarlo) */
    color: #fff; /* Color de texto blanco (puedes cambiarlo) */
    transition: background-color 0.3s;
  }
  
  .admin-boton:hover {
    background-color: #45a049; /* Cambia el color al pasar el ratón (puedes cambiarlo) */
  }


 /* ------------------------------[  Tablas | Administrador.html ]----------------------------------------- */

 /* contenedor de las tablas de administrador */

.contenedor-tabla {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 90px;
  border-radius: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  width: 100%;
  max-width: 900px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 20px rgba(70, 70, 70, 0.5);
}




 /* ------------------------------[  Tablas ]----------------------------------------- */
/* Estilos para la tabla de estudiantes */
.tabla-estudiantes,
.tabla-habitaciones,
.reservas-tabla {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #ddd;
    text-align: left;
}

.tabla-estudiantes th,
.tabla-estudiantes td,
.tabla-habitaciones th,
.tabla-habitaciones td,
.reservas-tabla th,
.reservas-tabla td {
    padding: 10px;
    border: 1px solid #302e2e;
}

.tabla-estudiantes th,
.tabla-habitaciones th,
.reservas-tabla th {
    background-color: #5e5e5e;
    color: white;
    font-weight: bold;
}

.tabla-estudiantes tr:nth-child(even),
.tabla-habitaciones tr:nth-child(even),
.reservas-tabla tr:nth-child(even) {
    background-color: #f0f0f0;
}

.tabla-estudiantes tr:nth-child(odd),
.tabla-habitaciones tr:nth-child(odd),
.reservas-tabla tr:nth-child(odd)  {
    background-color: #ffffff;
}

.tabla-estudiantes th,
.tabla-estudiantes td,
.tabla-habitaciones th,
.tabla-habitaciones td,
.reservas-tabla th,
.reservas-tabla td{
    text-align: left;
}

  /* ------------------------------[  parte final ]----------------------------------------- */
.gestion-title {
    color: rgb(255, 255, 255); /* Cambiar el color del título a azul */
}
.footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(63, 58, 53);
    box-shadow: 0 0 20px rgba(95, 95, 95, 0.5);
  }
  
  
  