@import url('https://fonts.googleapis.com/css?family=Montserrat');


.fondo {
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
/* Estilos del logo */
.logo {
    width: 150px; /* Ancho fijo para el contenedor del logotipo */
    height: 50px; /* Altura fija para el contenedor del logotipo */
    overflow: hidden; /* Recorta cualquier contenido que desborde el contenedor */
    display: flex;
    align-items: center; /* Centra verticalmente el logotipo */
}

.logo img {
    max-width: 32%; /* El logotipo se ajustará al ancho del contenedor */
    height: auto;
}
.uleam-text {
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
  /* Estilos para el botón */

.btn {
    display: inline-block;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    margin: 1rem auto;
    padding: 0.7rem 2rem;
    border-radius: 30em;
    border-style: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: transparent;
    box-shadow: 1px 1px 12px #000000;
  }
  
  .btn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: translateX(-101%);
    transition: all .3s ease;
    z-index: -1;
  }
  
  .btn:hover {
    color: #272727;
    transition: all .3s ease;
  }
  
  .btn:hover::before {
    transform: translateX(0);
  }

.habitacion-todo {
    margin-bottom: 80px; /* Ajusta este valor según sea necesario para evitar el choque con el footer */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gestion h1{
  color: rgb(255, 255, 255);
}
  .habitaciones-contenedor {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .habitaciones-contenedor h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .habitaciones-cuadricula {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .room {
    
    background-color: rgba(165, 165, 165, 0.7);
    box-shadow: 0 8px 20px rgba(70, 70, 70, 0.5);
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 0.5rem; /* Reduzco el relleno interno */
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    font-size: 0.9rem; /* Reduzco el tamaño de la fuente */
}

  
  .room:hover {
    transform: translate(0, -5px); /* Aplica la transformación al hacer hover para moverlo hacia arriba */
  }
  
  .room h2 {
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  .room p {
    margin-bottom: 0.5rem;
  }
  
  .room ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .room li {
    margin-bottom: 0.25rem; /* Espacio adicional entre elementos de la lista */
  }
  
  .imagen-completa {
    display: none; /* Ocultar el elemento inicialmente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semitransparente */
    text-align: center;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea la imagen en la parte superior */
    align-items: center;
    transition: height 0.3s ease; /* Agregamos una transición para animar la apertura/cierre */
  }
  
  
  /* Estilo para la imagen completa */
  .imagen-completa img {
    max-width: 80%;
    max-height: 80%;
    margin-top: 50px; /* Añade margen superior para separar la imagen del borde superior */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); /* Agrega una sombra a la imagen */
  }
  .overflow-hidden {
    overflow: hidden;
  }
  
  /* Estilo para cerrar la imagen completa */
  .cerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
  }
   
.gestion-title {
    color: rgb(255, 255, 255); /* Cambiar el color del título a azul */
}
.abajo {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(63, 58, 53);
  }
  
  
  