@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Estilos generales */

/* Estilos del encabezado */
header {
    background-color: rgb(63, 58, 53);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    text-align: center; /* Centra horizontalmente el contenido */
}
/* Estilos del logo */
.logo {
    width: 150px; /* Ancho fijo para el contenedor del logotipo */
    height: 50px; /* Altura fija para el contenedor del logotipo */
    overflow: hidden; /* Recorta cualquier contenido que desborde el contenedor */
    display: flex;
    align-items: center; /* Centra verticalmente el logotipo */
}

.logo img {
    max-width: 32%; /* El logotipo se ajustará al ancho del contenedor */
    height: auto;
}

.uleam-text {
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn {
    display: inline-block;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    margin: 1rem auto;
    padding: 0.7rem 2rem;
    border-radius: 30em;
    border-style: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: transparent;
    box-shadow: 1px 1px 12px #000000;
  }
  
  .btn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: translateX(-101%);
    transition: all .3s ease;
    z-index: -1;
  }
  
  .btn:hover {
    color: #272727;
    transition: all .3s ease;
  }
  
  .btn:hover::before {
    transform: translateX(0);
  }
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #979191;
  padding: -1px;
  border-radius: 5px;
  overflow-y: auto;
  background-color: rgba(165, 165, 165, 0.7);
  box-shadow: 0 8px 20px rgba(70, 70, 70, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: grab;
  user-select: none;
  width: 50%;
  margin: 5px auto; /* Margen superior e inferior de 10px, centrado horizontalmente */
}
.link-clic {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(39, 39, 185);
}
.registro-separador {
    position: relative;
    margin-bottom: 5px; /* Añade espacio entre elementos separadores */
}

.input {
    max-width: 190px;
    border: none;
    border-bottom: solid rgb(187, 186, 186) 1px;
    background: transparent;
    outline: none;
    padding: 10px;
    transition: 0.2s;
    color: #e8e8e8;
    font-size: 17px;
    margin-bottom: 10px; /* Añade espacio entre inputs */
}

.input:focus, .input:valid {
    border-color: rgb(233, 233, 233);
}

label span {
    position: absolute;
    top: 0px;
    display: block;
    transition: 0.2s;
    pointer-events: none;
    font-size: 25px;
    color: rgb(187, 186, 186) 1px;
    opacity: 0%;
    margin-bottom: 10px; /* Añade espacio entre etiquetas */
}

.input:focus + label span, .input:valid + label span {
    color: rgb(190, 188, 188);
    top: -25px;
    opacity: 100%;
}

.input:focus + label p, .input:valid + label p {
    opacity: 0;
}

  
  
.terms {
      display: flex;
      align-items: center;
      margin-top: -50px;
  }
  

/* ------------------------------[  parte final ]----------------------------------------- */
.gestion-title {
    color: rgb(255, 255, 255); /* Cambiar el color del título a azul */
}
.footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(63, 58, 53, 0.8) 0%, rgba(63, 58, 53, 1) 100%);
    box-shadow: 0 -2px 10px rgba(95, 95, 95, 0.5);
    color: white; /* Agregado para asegurarse de que el texto sea visible en el fondo oscuro */
  }
  