
@import url('https://fonts.googleapis.com/css?family=Montserrat');


.fondo {
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
/* Estilos del logo */
.logo {
    width: 150px; /* Ancho fijo para el contenedor del logotipo */
    height: 50px; /* Altura fija para el contenedor del logotipo */
    overflow: hidden; /* Recorta cualquier contenido que desborde el contenedor */
    display: flex;
    align-items: center; /* Centra verticalmente el logotipo */
}

.logo img {
    max-width: 32%; /* El logotipo se ajustará al ancho del contenedor */
    height: auto;
}
.uleam-text {
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
  }


#tipo-habitacion , #metodo-pago{
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    margin: 1rem auto;
    padding: 0.7rem 2rem;
    border-radius: 30em;
    border-style: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: transparent;
    box-shadow: 1px 1px 12px #000000;
  }
  
  .btn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: translateX(-101%);
    transition: all .3s ease;
    z-index: -1;
  }
  
  .btn:hover {
    color: #272727;
    transition: all .3s ease;
  }
  
  .btn:hover::before {
    transform: translateX(0);
  }
/* Estilos para los campos de entrada (inputs) */
.formulario-reservar input[type="text"],
.formulario-reservar input[type="email"],
.formulario-reservar input[type="tel"],
.formulario-reservar select {
  width: 80%; /* Ajusta el ancho según tus necesidades */
  padding: 8px; /* Ajusta el padding según tus necesidades */
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  font-size: 14px; /* Ajusta el tamaño de fuente según tus necesidades */
}

/* Estilos para el campo de entrada de fecha */
.formulario-reservar input[type="date"] {
  font-size: 14px; /* Ajusta el tamaño de fuente según tus necesidades */
  padding: 8px; /* Ajusta el padding según tus necesidades */
  border: 1px solid #000000;
  border-radius: 5px;
  width: 80%; /* Ajusta el ancho según tus necesidades */
}


/* Estilos para el campo de entrada de fecha cuando está enfocado */
.formulario-reservar input[type="date"]:focus {
  border-color: lightblue;
  background-color: #e8e8e8;
}

/* Estilos para el contenedor */
.reservasdatos-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 800px;
  background-color: rgba(165, 165, 165, 0.7);
  box-shadow: 0 8px 20px rgba(70, 70, 70, 0.5); /* Modificado el valor de la sombra */
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.formulario-container {
  display: flex;
  flex-direction: column;
}

.input-container {
  margin-bottom: 10px;
}

.reserva-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
}

.columna-izquierda,
.columna-derecha {
    display: flex;
    flex-direction: column;
}

/* Añade estilos adicionales según sea necesario */


.gestion-title {
    color: rgb(255, 255, 255); /* Cambiar el color del título a azul */
}
.footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(63, 58, 53);
    box-shadow: 0 0 20px rgba(95, 95, 95, 0.5);
  }
  
